/*Importando hojas de estilo*/
@import 'normalize.css';
@import 'materialize.min.css';
@import 'material-design-iconic-font.min.css';

/*Tipografia*/
@font-face{
    font-family: "Tittles";
    src: url("../fonts/goodtime.ttf"), 
    url("../fonts/goodtime.eot"), 
    url("../fonts/goodtime.woff"), 
    url("../fonts/goodtime.woff2"), 
    url("../fonts/goodtime.svg");
}
@font-face{
    font-family: "Text";
    src: url("../fonts/sourcesanspro.ttf"), 
    url("../fonts/sourcesanspro.eot"), 
    url("../fonts/sourcesanspro.woff"), 
    url("../fonts/sourcesanspro.woff2"), 
    url("../fonts/sourcesanspro.svg");
}
/*=====================================================
					Estilos generales
======================================================*/
body,
html{
	font-family: "Text";
	margin: 0;
	padding: 0;
	font-size: 16px;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.full{
	margin: 0;
	padding: 0;
	width: 100%;
}
.tittles{
	font-family: "Tittles";
	color: #414449;
}
.cover{
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
}
.center-box{
	margin: 0 auto !important;
	display: block;
}
figure{
	padding: 0;
	margin: 0;
}
.card .card-image .card-title{
	width: 100%;
	background-color: rgba(0,0,0,.5);
	padding: 9px;
}
/*====== Barra de navegacion*/
.NavBar{
	height: 50px;
	position: relative;
	background-color: #2F9FF3;
	line-height: 50px;
	box-shadow: none;
	transition: all .3s ease-in-out;
}
.NavBar-logo{
	height: 50px;
	line-height: 50px;
	font-size: 19px;
	text-align: center;
	color: #fff;
}
.NavBar-links{
	text-align: right;
	padding: 0 0 !important;
}
.NavBar-links li{
	display: inline-block;
	height: 50px;
	float: none;
	color: #fff;
}
.NavBar-links li a{
	height: 50px;
	color: #fff;
	line-height: 50px;
}
/*====== Boton menu movil*/
.btn-menu{
	position: absolute;
	z-index: 9;
	color: #fff;
	height: 50px !important;
	width: 50px !important;
	border-radius: 50%;
	line-height: 50px !important;
	text-align: center;
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 27px !important;
}
/*====== Carrito de compras*/
.ShoppingCart{
	background-color: #EEEEEE;
	overflow: hidden;
	pointer-events: none;
	height: 0 ;
	opacity: 0;
	transition: all .3s ease-in-out;
}
.ShoppingCart-show{
	pointer-events: auto;
	height: auto !important;
	opacity: 1;
}
/*====== Encabezado*/
.header{
	min-height: 80%;
	padding: 30px 0;
}
/*====== Seccion promo index*/
.promo,
.new-prod{
	padding: 40px 0;
	border-top: 1px solid #E1E1E1;
}
.promo i{
	color: #EE6E73;
}
/*====== footer*/
.footer{
	padding: 30px 0;
	background-color: #2F9FF3;
	color: #fff;
}
.footer a{
	color: #fff;
}
.footer-copyright{
	text-align: center;
	color: #fff;
	border-top:1px solid rgba(255,255,255,.2);
}
/*=====================================================
					Media  Queries
======================================================*/
@media (max-width: 600px){
	.NavBar{
		overflow: hidden;
	}
	.NavBar-show{
		overflow-y: scroll;
		height: 100%;
		position: absolute;
		z-index: 99;
	}
	.No-Scroll{
		overflow: hidden !important;	
	}
	.NavBar-links{
		position: absolute;
		top: 50px;
		left: 0;
		z-index: 10;
		width: 100% !important;
		height: auto;
		padding: 0 25px !important;
		margin: 0;
		color: #fff;
		border-top: 1px solid rgba(255,255,255,.1);
	}
	.NavBar-links li{
		display: block;
		width: 100%;
		height: 45px;
	}
	.NavBar-links li a{
		display: block;
		width: 100%;
		height: 45px;
		line-height: 45px;
		text-align: left;
	}
}
@media (min-width: 601px) and (max-width: 991px){

}
@media (min-width: 992px){

}